<h3 class="text-center pt-3">
    Тестовое задание
</h3>

<hr>

<div class="text-center">
    <button class="btn btn-success" (click)="convertJsonToHtml()">
        Json to Html
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 pt-2">
            <h5>Результат в виде исходного кода:</h5>
            <textarea class="form-control" #textarea rows="10"></textarea>
        </div>
        <div class="col-12 pt-2">
            <h5>Результат в виде html фрагмента:</h5>
            <div [innerHTML]="content"></div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>